// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: white;
$secondary: hsl(292, 42%, 14%);
$info: hsl(292, 16%, 49%);

$accordion-button-active-icon:  url("../assets/images/icon-minus.svg");
$accordion-button-icon:         url("../assets/images/icon-plus.svg");

$accordion-button-active-bg: white;


// $accordion-button-active-bg:              var(--#{$prefix}primary-bg-subtle);
// $accordion-button-active-color:           var(--#{$prefix}primary-text-emphasis);

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here


*, *::after, *:before{
    margin:0;
    box-sizing: border-box;
}


@font-face { font-family: WorkSans; 
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf'); } 

body{
    background-color: hsl(275, 100%, 97%);
    font-family: WorkSans;
    color: hsl(292, 42%, 14%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.card{
    background-color: white;
    width: 375px;
    border-radius: 1em;
}
.wrapper{
    width:85%;
    margin: 1em auto;
}

.header{
    display: flex;
    font-weight: 700;
}
.header img{
    width: 1.5rem;
    margin-right: 1em;
}

.accordion-button:hover {
    color: hsl(276, 89%, 56%);
}